[submodule "use/dexif"]
    path = use/dexif
    url = https://github.com/cutec-chris/dexif.git
[submodule "use/imaginglib"]
    path = use/imaginglib
    url = https://github.com/galfar/imaginglib.git
