[submodule "components/dexif"]
	path = components/dexif
	url = https://github.com/cutec-chris/dexif.git
[submodule "components/imaginglib"]
	path = components/imaginglib
	url = https://github.com/galfar/imaginglib.git
